{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "no-unused-vars": "warn"
  },
  "extends": ["airbnb/base"],
  "plugins": [
    "html"
  ]
}
