{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "warn"
  },
  "extends": ["airbnb-base"]
}
